<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @page_title || 'zi2' %></title>
	<link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">    
	<!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <%= stylesheet_link_tag 'additional' %>
	<%#= yield :stylesheet -%>
  <%= stylesheet_link_tag 'jquery.treeview.css' %>
  <%= javascript_include_tag 'jquery-1.2.6.min.js', 'jquery.form.js' %>
  <%= javascript_include_tag 'jquery.treeview.js', 'jquery.addtolist.js' %>
	<%#= yield :javascript -%>
	<%= yield :head -%>
	<%= javascript_include_tag 'application' %>
	<%= yield :jquery_onload -%>
</head>
<body>

	<div class="container">
	  <div id="header" class="span-24">
			<%= render :partial => 'layouts/menu' %>
			<h1 id="logo"><a href="/"><%= image_tag 'logo.png', :alt => 'zi2' %></a></h1>
			<cite>루비온레일스 기반 설치형 게시판</cite>
	  </div>
	  <div id="content" class="span-24">
		  <div class="span-7">
		  	&nbsp;
		  	<%= yield :sidebox %>
		  </div>
		  <div class="span-17 last">
		  	<% if flash[:notice] %>
					<p class="notice"><%= flash[:notice] %></p>
				<% end %>
				<%= yield  %>
		  </div>
	  </div>
	  <div id="footer" class="span-24" style="text-align: right;">
	  	&copy; <a href="http://usefulparadigm.com">Useful Paradigm</a>, 2008, All right reserved.
	  </div>
	</div>

</body>
</html>

