<h1>Editing issue</h1>

<%= error_messages_for :issue %>

<% form_for(@issue) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Content</b><br />
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @issue %> |
<%= link_to 'Back', issues_path %>
