<% jquery_onload do %>
	$('#category').treeview();
<% end %>

<% content_for :sidebox do %>
<table style="float:left;">
	<tr><th>카테고리
  <% if logged_in? && current_user.admin? %>
		<span><%= link_to "관리", categories_path %></span>
	<% end %>

	</th></tr>
	<tr><td>
	<%= render :partial => 'category' %>
</td></tr>
</table>
<% end %>

<div style="text-align: right;">
	<% form_tag search_posts_path, :method => :get do %>
		<%= text_field_tag 'q', params[:q] %>
		<%= submit_tag '검색' %>
	<% end %>
</div>

<div style="float:left;">
	<span id="post-count"><%= @post_total %></span> 개의 글이 있습니다.</span>
	<%= image_tag 'rss.gif' %>	
	<table>
	  <tr style="background: #eef;">
	    <th><%= s :category_id, :label => '분류' %></th>
	    <th><%= s :title, :label => '제목' %></th>
	    <th><%= image_tag 'paperclip.gif' %></th>
	    <th><%= s :user_id, :label => '작성자' %></th>
	    <th><%= s :comments_count, :label => '댓글', :descend => true %></th>
	    <th><%= s :read_count, :label => '조회', :descend => true %></th>
	    <th><%= s :diggs_count, :label => '추천', :descend => true %></th>
	    <th>관리</th>
	  </tr>
		<%= render :partial => 'post', :collection => @posts %>
	</table>

	<div id="control" style="float:right;">
		<%= button_to "새글작성", new_post_path(:category_id => @category_id), 
					:id => "newIssueButton",  :class => "Button common-button" %>
	</div>
	<p id="pagination">
		<%= will_paginate @posts, :prev_label => '이전', :next_label => '다음' %>
	</p>
	

</div>
