<% content_for :head do %>
	<%= stylesheet_link_tag 'jquery.wysiwyg.css' %>
	<%= javascript_include_tag 'jquery.wysiwyg.js' %>
<% end %>
<% jquery_onload do %>
	$('#post_content').wysiwyg();
<% end %>

<h1>새글 작성</h1>

<% form_for(@post, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

	<p>
		<label for="title">제목</label><br/>
		<%= f.text_field :title, :size => 50, :class => "type-text" %>
	</p>
	<p>
		<label for="issue_content">본문</label>
		<%= f.text_area :content, :rows => 10 %>
	</p>		
	<p>
    <%= f.check_box :secured %>
		<label for="secured">비밀글</label>
	</p>
  <p>
    <%= f.label :category_id %><br />
		<select name="post[category_id]">
		  <%= expand_tree_into_select_field(Category.top, params[:category_id]) %>
		</select>
  </p>

	<p>
		<label for="tags">태그</label>
		<%= f.text_field :tag_list %>	
	</p>
	
	<p>
		<label for="attachments">첨부</label>
		<ul>
			<li><%= file_field_tag 'post[uploaded_attachments][]' %></li>
			<li><%= file_field_tag 'post[uploaded_attachments][]' %></li>
			<li><%= file_field_tag 'post[uploaded_attachments][]' %></li>
		</ul>
	</p>
  
  <p>
    <%= f.submit "완료" %>
  </p>
<% end %>

<%= link_to '취소', posts_path %>
